*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}

h1,
h2, 
h3, 
h4, 
h5, 
h6, 
p {
    margin: 0;
    padding: 0;
}

@mixin d-flex($jc: space-between, $ai: center, $b: 2px solid blue, $be:50%) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}


